.grid {
  display: grid;
  margin-top: 10%;
  grid-template-columns: repeat(3, 1fr); 
  gap: 26px;
  padding: 16px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  z-index: 99;
  background-color: #c4f9ff;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: perspective(1000px); 
}

.card:hover {
  background-color: #3d90f7;
  transform: translateY(-10px) rotateX(5deg) rotateY(5deg); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2); 
  border: 0px solid #ddd;

}
.image-container {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  overflow: hidden;
  border : 1px solid rgb(169, 169, 169);
  border-radius: 8px;
  margin-bottom: 16px;
}
.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}



.card h2 {
  font-size: 1.5rem;
  margin: 0 0 10px 0;
  text-decoration: none !important; /* Removes underline forcefully */
  
  color: #5641ae;
}
.card a {
  text-decoration: none; 
}
.card p {
  font-size: 1rem;
  color: #084a88;
  line-height: 1.5;
}


.card:hover h2 {
  color: #ffffff;
}

.card:hover p {
  color: #ffffff; 
}